<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="octoApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="octoApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="octoApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="octoApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="views/main/main.css">
  <link rel="stylesheet" href="views/mesh/mesh.css">
  <link rel="stylesheet" href="views/login/login.css">
  <link rel="stylesheet" href="views/registration/registration.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <!--header-->
  <div class="header" ng-controller="headerCtrl" ng-cloak>
    <div class="md-whiteframe-5dp" layout="row">
      <md-button class="md-primary" ng-href="#!{{ROUTES.MAIN}}">Главная</md-button>
      <span flex></span>
      <div ng-if="!isAuthorized">
        <md-button class="md-primary" ng-href="#!{{ROUTES.LOGIN}}">Войти</md-button>
        <md-button class="md-primary" ng-href="#!{{ROUTES.REGISTRATION}}">Регистрация</md-button>
      </div>
      <div ng-if="isAuthorized">
        <md-button class="md-primary" ng-href="#!{{ROUTES.MESH_CREATE}}">Загрузить модель</md-button>
        <md-button class="md-primary" ng-href="#!{{ROUTES.USER}}">Профиль</md-button>
        <md-button class="md-primary" ng-click="logout()">Выйти</md-button>
      </div>
    </div>
  </div>
  <!--end header-->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="view" ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="app.js"></script>
  <script src="views/main/main.js"></script>
  <script src="views/mesh/mesh.js"></script>
  <script src="views/mesh_create/mesh_create.js"></script>
  <script src="views/registration/registration.js"></script>
  <script src="views/login/login.js"></script>
  <script src="views/user/user.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="modules/ngOnErrorImg.js"></script>
</body>
</html>
